/* --- 1. FONDO GENERAL --- */
[data-testid="stApp"] {
    background: #769a8c;
    background-image: linear-gradient(
        20deg,
        rgba(118, 154, 140, 1) 0%,
        rgba(177, 225, 183, 1) 20%,
        rgba(253, 253, 253, 1) 50%
    );
    background-attachment: fixed;
    background-size: cover;
}
.st-emotion-cache-1r1cntt {
    padding: 0 !important;
}

.spacer {
    height: 450px;
}

/* --- 2. HEADER PERSONALIZADO --- */
.main-header {
    margin-bottom: 80px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
}

.main-header h1 {
    color: #2a3d45;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 2.2rem;
}

.main-header p {
    color: #555;
    font-size: 1.1rem;
}

/* --- 3. ESTILO DE LAS PESTAÑAS (TABS) --- */
button[data-baseweb="tab"] {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    color: #2a3d45;
    font-weight: 600;
}

button[data-baseweb="tab"][aria-selected="true"] {
    background-color: #2a3d45 !important; 
    color: white !important;
}

/* --- 4. TARJETAS DE RESULTADOS --- */
.result-card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    border-left: 5px solid #769a8c;
}

/* --- 5. TÍTULOS Y TEXTO --- */
h2,
h3 {
    color: #2a3d45 !important;
}

.stAlert {
    border-radius: 12px;
}

/* --- CONFIGURACIÓN DE LA BARRA LATERAL (CONTENEDOR PADRE) --- */

section[data-testid="stSidebar"] .stVerticalBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-footer {
    margin-top: auto !important;
    width: 100%;
    text-align: center;
}

.sidebar-footer a {
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}

.sidebar-footer img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.sidebar-footer img:hover {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.1);
}

.sidebar-footer hr {
    margin-bottom: 30px;
    background-color: #769a8c;
    border: 1px solid #769a8c;
    border-radius: 20px;
}
